@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* shared style */
.secondary-bg{
    background: rgb(255, 248, 243);
}
.text-primary{
    color: rgb(253, 110, 10);
}
.dark2{
  color:rgb(71, 71, 71);  
}
.btn-primary{
border-radius: 5px;
background-color: rgb(253, 110, 10);
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
border: none;
padding: 10px;
}
.section-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

}
.section-description{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}



/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-tittle{
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
}
nav ul li{
    list-style: none;
    margin-right: 52px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.header{
    background-image: url('../portfolio-resources/images/developer.png'),url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
/* banner styles */
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.bannar-content{
    max-width: 580px;
}
.banner-greetings{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-tittle{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 600;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}
.bannar-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.banner-profile-pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 840px;
    margin: 0 auto;
}
/* about me */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.sectiondescription{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.about-items{
display: flex;
justify-content: space-around;
}
.about-item{

}
.item-title{

}
.item-description{
font-weight: 600;
}
/* what i do */
.whatIDo{
margin-top: 100px;
margin-bottom: 100px;
}
.whatIDoPara{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

}
/* card */
.card{
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
width: 225px;
height: 330px;
padding: 20px;


}

.card-title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}
.cardPara{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.card-container{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}